//Font colors:

$main-font-color: rgb(255, 213, 213);
$paragraph-font-color: rgba(255, 215, 215, 0.9);
$secondary-font-color: rgb(227, 24, 24);

/* Mobile sizes: */
$extra-small-size: 480px;
$small-size: 576px;
$medium-size: 768px;
$large-size: 992px;
$extra-large-size: 1200px; 