.page-wrapper {
    overflow: hidden;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url('../images/bg-image.jpg');
        background-position: left center;
        background-size: cover;
        margin: 0;

        .header-card {
            overflow: hidden;
            position: absolute;
            border: #000;
            border-radius: 25px;
            background: linear-gradient(155deg, #000 15%, transparent);
            height: 95%;
            width: 90%;
            backdrop-filter: blur(2px);

            .navigation-container {
                display: flex;
                padding: 0 30px;
                justify-content: space-between;

                .brand-name-header {
                    text-align: right;
                    font-size: 28px;
                    font-family: $header-font;
                    letter-spacing: 1px;
                    font-style: italic;

                    span.brand-name {
                        background: -webkit-linear-gradient(rgb(145, 0, 0), rgb(255, 0, 0));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    span.dolar {
                        background: -webkit-linear-gradient(rgb(52, 92, 19), rgb(103, 181, 39));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .hamburger-navigation {
                    margin: 20px 0;

                    .hamburger {
                        font-size: 26px;
                        color: $secondary-font-color;
                        font-style: italic;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .navigation-menu {
                    display: none;
                    padding: 0 30px;
                    margin: 101px auto;
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 30vh;
                    text-align: right;
                    background-color: rgba(0, 0, 0, 0.9);

                    .nav-list {
                        overflow: hidden;
                        font-family: $main-font;
                        font-style: italic;
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        .menu-items {
                            transition: all 0.3s;

                            a {
                                @include animation-slideIn;
                                position: relative;
                                right: -85px;
                                line-height: 34px;
                                color: $main-font-color;
                                transition: all 0.3s;

                                &:hover {
                                    color: $secondary-font-color;
                                }
                            }

                            &:first-child {

                                a {
                                    animation-delay: 0.2s;
                                }
                            }

                            &:nth-child(2) {

                                a {
                                    animation-delay: 0.3s;
                                }
                            }

                            &:nth-child(3) {

                                a {
                                    animation-delay: 0.4s;
                                }
                            }

                            &:nth-child(4) {

                                a {
                                    animation-delay: 0.5s;
                                }
                            }

                            &:last-child {

                                a {
                                    animation-delay: 0.6s;
                                }
                            }
                        }
                    }
                }

                .navigation-menu.unfolded {
                    display: block;
                }
            }
        }

        .instagram {

            a {

                img {
                    position: absolute;
                    width: 25px;
                    bottom: 30px;
                    left: 50px;
                    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.8));
                }
            }
        }

        .facebook {

            a {

                img {
                    position: absolute;
                    width: 26px;
                    bottom: 70px;
                    left: 50px;
                    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.8));
                }
            }
        }

        .circle {
            display: none;
            position: absolute;
            top: 250px;
            right: 200px;
            width: 270px;
            height: 270px;
            border-radius: 50%;
            filter: blur(20px);
            background-color: rgb(255, 213, 213, 0.7);
        }

        .accent-img {

            img:first-child {
                position: absolute;
                width: 200px;
                left: 116px;
                bottom: 22px;
            }

            .pizza-image {
                display: none;
            }
        }
    }
}

@media all and (min-width: 400px) {
    .page-wrapper {

        .header {

            .accent-img {

                img:first-child {
                    display: none;
                }

                .pizza-image {
                    display: block;
                    position: absolute;
                    filter: drop-shadow(12px 12px 2px #000);
                    width: 260px;
                    top: 330px;
                    left: 110px;
                }
            }
        }
    }
}

@media all and (min-width: $extra-small-size) {
    .page-wrapper {

        .header {

            .header-card {

                .navigation-container {
                    padding: 20px 50px;
                    padding-bottom: 0;
                }
            }

            .instagram {

                a {

                    img {
                        width: 30px;
                        left: 90px;
                        bottom: 48px;
                    }
                }
            }

            .facebook {

                a {

                    img {
                        width: 30px;
                        bottom: 50px;
                        left: 135px;
                        filter: drop-shadow(2px 2px 1px #000);
                    }
                }
            }

            .accent-img {

                .pizza-image {
                    width: 280px;
                    top: 300px;
                    left: 190px;
                }
            }
        }
    }
}

@media all and (min-width: $small-size) {
    .page-wrapper {

        .header {

            .header-card {

                .navigation-container {
                    padding: 20px 60px;
                }
            }

            .instagram {

                a {

                    img {
                        width: 35px;
                        left: 120px;
                        bottom: 48px;
                    }
                }
            }

            .facebook {

                a {

                    img {
                        width: 36px;
                        bottom: 50px;
                        left: 170px;
                        filter: drop-shadow(2px 2px 1px #000);
                    }
                }
            }

            .accent-img {

                .pizza-image {
                    width: 300px;
                    top: 290px;
                    left: 230px;
                }
            }
        }
    }
}

@media all and (min-width: 700px) {
    .page-wrapper {

        .header {

            .circle {
                display: block;
                top: 270px;
                right: 120px;
            }

            .accent-img {

                img:first-child {
                    display: none;
                }

                .pizza-image {
                    width: 330px;
                    top: 260px;
                    left: 300px;
                }
            }
        }
    }
}

@media all and (min-width: $medium-size) {
    .page-wrapper {

        .header {

            .accent-img {

                .pizza-image {
                    left: 320px;
                }
            }
        }
    }
}

@media all and (min-width: 860px) {
    .page-wrapper {

        .header {

            .header-card {

                .navigation-container {

                    .hamburger-navigation {
                        display: none;
                    }

                    .navigation-menu {
                        display: block;
                        background-color: transparent;
                        margin-top: 44px;

                        .nav-list {
                            padding-right: 30px;

                            .menu-items {
                                display: inline;
                                margin: 0 8px;

                                a {
                                    right: 0;
                                    animation: none;
                                }
                            }
                        }
                    }
                }
            }

            .accent-img {

                .pizza-image {
                    width: 460px;
                    top: 150px;
                    left: 355px;
                }
            }
        }
    }
}

@media all and (min-width: $large-size) {
    .page-wrapper {

        .header {

            .accent-img {

                .pizza-image {
                    width: 480px;
                    top: 130px;
                    left: 430px;
                }
            }
        }
    }
}

@media all and (min-width: $extra-large-size) {
    .page-wrapper {

        .header {

            .accent-img {

                .pizza-image {
                    width: 480px;
                    top: 130px;
                    left: 600px;
                }
            }
        }
    }
}