%button {
    border-radius: 20px;
    padding: 12px;
    margin: 8px 0;
    transition: all 0.3s;
}

.button-primary {
    @extend %button;
    background-color: $secondary-font-color;
    border: none;

    &:hover {
        background-color: rgb(168, 0, 0);
        cursor: pointer;
    }
}

.button-secondary {
    @extend %button;
    border: 1px solid $main-font-color;
    background-color: rgba(0, 0, 0, 0);

    &:hover {
        cursor: pointer;
    }
}